#qboxes {
  display: none;
}
label {
  font-size: 150%;
}
#heading {
  font-family:serif;
  text-align: center;
}
body {
  background-image: url("../images/quiz5.jpeg");
}
.jumbotron {
  font-weight: bold;
  background-color:teal;
}
#marks {
  font-weight: bold;
}
#comment {
  font-weight: bold;
}
#reload {
  display: none;
}
